.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: var(--text-color);
}

.pagination-btn {
  background-color: var(--card-background);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  
  padding: 8px 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
}

.pagination-btn:hover:not(:disabled) {
  background-color: var(--header-background);
  border-color: var(--primary-color);
}

.pagination-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-info {
  font-weight: bold;
}