<header>
  <nav>
    <a routerLink="/finder">{{ 'HEADER.SEARCH_MOVIES' | translate }}</a>
    <a routerLink="/quiz">{{ 'HEADER.AI_RECOMMEND' | translate }}</a>
    <a routerLink="/lists">{{ 'HEADER.MY_LISTS' | translate }}</a>
  </nav>

  <div class="controls">
    <div class="lang-switcher">
      <button (click)="switchLang('uk')" [class.active]="translate.currentLang === 'uk'">УКР</button>
      <button (click)="switchLang('en')" [class.active]="translate.currentLang === 'en'">ENG</button>
    </div>

    <app-theme-switcher></app-theme-switcher>

  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>