header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  
  background-color: var(--header-background);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid var(--border-color);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--text-color); 
  text-decoration: none;
  transition: color 0.2s;
}

nav a:hover {
  color: var(--primary-color); 
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lang-switcher button {
  background: none;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 5px 10px;
  cursor: pointer;
}
.lang-switcher button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.lang-switcher button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
}
.lang-switcher button.active {
  background-color: var(--primary-color);
  color: var(--header-background);
  border-color: var(--primary-color);
}

@media (max-width: 768px) {
  header {
    width: 100%;
    box-sizing: border-box; 
    justify-content: center;
    
    gap: 10px; 
    padding: 10px; 
  }

  nav {
    width: 100%;
    justify-content: start;
    order: 1; 
    flex-wrap: wrap; 
    
    gap: 12px;
  }

  .controls {
    width: 100%;
    justify-content: end; 
    order: 1; 
    flex-wrap: wrap; 
    
    gap: 15px; 
  }

  nav a {
    font-size: 1rem;
    padding: 0 5px; 
  }
}

@media (max-width: 650px) {
  header {
    padding: 10px;
    gap: 10px; 
  }

  nav {
        gap: 2px; 
}
}
@media (max-width: 450px) {
  header {
    padding: 10px;
    gap: 10px; 
  }

  nav {
flex-direction: column;}
}