header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  
  background-color: var(--header-background);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid var(--border-color);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--text-color); 
  text-decoration: none;
  transition: color 0.2s;
}

nav a:hover {
  color: var(--primary-color); 
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lang-switcher button {
  background: none;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 5px 10px;
  cursor: pointer;
}
.lang-switcher button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.lang-switcher button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
}
.lang-switcher button.active {
  background-color: var(--primary-color);
  color: var(--header-background);
  border-color: var(--primary-color);
}


.switcher {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 8px; 
  
  width: 100px; 
  height: 40px; 
  box-sizing: border-box;
  padding: 3px 5px 3px;
  
  margin: 0;
  border: none;
  border-radius: 99em;
  font-size: var(--fz);
  background-color: color-mix(in srgb, var(--c-glass) 12%, transparent);
  backdrop-filter: blur(8px) url(#switcher) saturate(var(--saturation));
  -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
  box-shadow: 
    inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent), 
    inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent), 
    inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent), 
    inset -0.3px -1px 4px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent), 
    inset -1.5px 2.5px 0px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), 
    inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), 
    inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 
    0px 1px 5px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 
    0px 6px 16px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
  transition: 
    background-color 400ms 
      cubic-bezier(1, 0.0, 0.4, 1),
    box-shadow 400ms
      cubic-bezier(1, 0.0, 0.4, 1);
}

.switcher__legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.switcher__input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.switcher__icon {
  display: block;
  width: 100%;
  transition: scale 200ms cubic-bezier(0.5, 0, 0, 1);
}

.switcher__filter {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}

.switcher__option {
  --c: var(--c-content);
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 40px; 
  padding: 0 10px; 

  height: 100%;
  box-sizing: border-box;
  border-radius: 99em;
  opacity: 1;
  transition: all 160ms;
}

.switcher__option:hover {
  --c: var(--c-action);
  cursor: pointer;
}

.switcher__option:hover .switcher__icon {
  scale: 1.2;
}

.switcher__option:has(input:checked) {
  --c: var(--c-content);
  cursor: auto;
}

.switcher__option:has(input:checked) .switcher__icon {
  scale: 1;
}

.switcher::after {
  content: '';
  position: absolute;
  
  left: 2px; 
  top: 2.5px; 
  width: 48px; 
  height: calc(100% - 6px); 

  display: block;
  border-radius: 99em;
  background-color: color-mix(in srgb, var(--c-glass) 36%, transparent);
  z-index: -1;
  box-shadow: 
    inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
    inset 2px 1px 0px -1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent), 
    inset -1.5px -1px 0px -1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent), 
    inset -2px -6px 1px -5px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent), 
    inset -1px 2px 3px -1px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), 
    inset 0px -4px 1px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 
    0px 3px 6px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
}

.switcher:has(input[c-option="1"]:checked)::after {
  translate: 0 0;
  transform-origin: right;
  transition: 
    background-color 400ms 
      cubic-bezier(1, 0.0, 0.4, 1),
    box-shadow 400ms
      cubic-bezier(1, 0.0, 0.4, 1),
    translate 400ms 
      cubic-bezier(1, 0.0, 0.4, 1);
  animation: scaleToggle 440ms ease; 
}

.switcher:has(input[c-option="2"]:checked)::after {
  translate: 48px 0; 
  transition: 
    background-color 400ms 
      cubic-bezier(1, 0.0, 0.4, 1),
    box-shadow 400ms
      cubic-bezier(1, 0.0, 0.4, 1),
    translate 400ms 
      cubic-bezier(1, 0.0, 0.4, 1);
  animation: scaleToggle2 440ms ease; 
}

.switcher[c-previous="1"]:has(input[c-option="2"]:checked)::after {
  transform-origin: left;
}

.switcher[c-previous="2"]:has(input[c-option="1"]:checked)::after {
  transform-origin: right;
}

@keyframes scaleToggle {
  0% { scale: 1 1; }
  50% { scale: 1.1 1; }
  100% { scale: 1 1; }
}

@keyframes scaleToggle2{
  0% { scale: 1 1; }
  50% { scale: 1.2 1; }
  100% { scale: 1 1; }
}