.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px; 
  padding: 20px;
  

}

.filter-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 180px;
  flex: 1; 
}

.filter-item label {
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 5px;
}

input[type="text"],
select {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23AAAAAA%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 10px 10px;
  padding-right: 30px; 
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: var(--border-color);
  outline: none;
  border-radius: 5px;
  opacity: 0.7;
  transition: opacity .2s;
  padding: 0; 
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}

.filter-item.year-range {
  flex-grow: 2; 
  min-width: 300px;
}

.year-range-container {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.year-select {
  width: 100px; 
  font-weight: bold;
}

.year-range-container .ngx-slider {
  flex-grow: 1; 
  margin: 0 5px;
}



:host ::ng-deep .ngx-slider .ngx-slider-bar {
  background: var(--border-color);
  height: 6px;
  border-radius: 3px;
}

:host ::ng-deep .ngx-slider .ngx-slider-selection {
  background: var(--primary-color);
}

:host ::ng-deep .ngx-slider .ngx-slider-pointer {
  width: 16px;  
  height: 16px; 
  top: -5px;    
  
  background-color: var(--primary-color) !important; 
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

:host ::ng-deep .ngx-slider .ngx-slider-pointer:after {
  display: none; 
}

:host ::ng-deep .ngx-slider .ngx-slider-bubble {
  color: var(--text-color);
  padding: 4px 8px;
  font-size: 0.7rem;
  font-weight: bold;
  bottom: 9px; 
}

:host ::ng-deep .ngx-slider .ngx-slider-bubble:after {
  display: none; 
}
.ngx-slider {
    margin: 15px 0 15px;
}

select {
  background-color: transparent;
}

select option {
  background-color: rgb(26, 26, 26); 
  color: var(--text-color);           
  padding: 5px; 
}

select option:checked {
  background-color: var(--primary-color);
  color: #ffffff;
}