<div class="filter">
    <label for="genre">Обери жанр:</label>
    <select id="genre" [(ngModel)]="selectedGenre" (change)="filterByGenre()">
        <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
    </select>
</div>

<div class="movie-container">
    <div class="movie-list">
        <div *ngFor="let movie of filteredMovies" class="movie-card">
            <img [src]="movie.poster" [alt]="movie.title" class="poster" />
            <div class="info">
                <h3>{{ movie.title }}</h3>

                <p class="year">{{ movie.year }}</p>
                <p class="rating">⭐ Рейтинг: {{ movie.rating }}</p>
                <p class="desc">{{ movie.description }}</p>
                <p class="genre"><strong>Жанр:</strong> {{ movie.genre }}</p>
            </div>
        </div>
    </div>
</div>