html, body {
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  position: relative; 
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100; 

  background-image: url('assets/images/background.jpg'); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}


body.light-theme {
  --background-color: transparent; 
  --text-color: #f0f0f0; 
  --card-background: rgba(255, 255, 255, 0.1); 
  --header-background: rgba(255, 255, 255, 0.05); 
  --primary-color: #90caf9; 
  --border-color: rgba(255, 255, 255, 0.2); 
  --danger-color: #ef9a9a;
  --danger-background: rgba(220, 50, 50, 0.2);
  
  --c-glass: #bbbbbc;
  --c-light: #fff;
  --c-dark: #000;
  --c-content: #224; /* Колір іконок на світлій темі */
  --c-action: #0052f5; 
  --c-bg: #E8E8E9;
  --glass-reflex-dark: 1;
  --glass-reflex-light: 1;
  --saturation: 150%;
}

body, body.dark-theme {
  --background-color: transparent; 
  --text-color: #e0e0e0;
  --card-background: rgba(30, 30, 30, 0.4); 
  --header-background: rgba(20, 20, 20, 0.5);
  --primary-color: #64b5f6;
    --primary-color-hover: #3f6f96;

  --border-color: rgba(255, 255, 255, 0.1); 
  --danger-color: #dc3232;
  --danger-background: rgba(184, 52, 52, 0.5);

  --c-glass: #bbbbbc;
  --c-light: #fff;
  --c-dark: #000;
  --c-content: #e1e1e1; /* Колір іконок на темній темі */
  --c-action: #03d5ff; 
  --c-bg: #1b1b1d;
  --glass-reflex-dark: 2;
  --glass-reflex-light: 0.3;
  --saturation: 150%;
}


body {
  background-color: var(--background-color); 
  color: var(--text-color);
}


header,
.filters-container,
.quiz-container,
.movie-card,
.list-option,
.mood-option,
.question-header,
.recommendation-card,
.details-container {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 

  background-color: var(--card-background);

  border: 1px solid var(--border-color);

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  
  border-radius: 8px; 
}

header {
  background-color: var(--header-background);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0; 
  border-left: none;
  border-right: none;
  border-top: none;
 
}

input[type="text"],
select,
.rating-value {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid var(--border-color) !important;
  color: var(--text-color) !important;
}

.list-option:hover,
.mood-option:hover {
  border-color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.2);
}

.list-option.option-no {
  background-color: var(--danger-background);
  border-color: var(--danger-color);
}

.list-option.option-no:hover {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  color: #fff;
}
